.group-create-page
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  background-color transparent
  height 100vh

  &-header
    flex-direction row
    flex 3
    align-items flex-end

  &-body
    padding-bottom 40%
    flex: 7

.group-create-form
  &-brief
    padding-top 5%
    padding-left 5%
    font-size 60px
    font-weight 900
    line-height 36px

  &-title
    font-size 30px
    font-weight 200
    padding-top 5%
    padding-left 5%

.group-create-page-input
  display flex
  flex-direction column

  &-title
    font-size 35px
    font-weight 300
    margin-top 5%
    margin-left 5%

  &-input
    font-size 40px
    font-weight 600
    margin-top 4%
    padding-left 2%
    padding-right 5%

  &-input-number
    align-items center
    margin-top 4%
    margin-left auto
    margin-right auto

.group-create-back
  position absolute
  left 5%
  top 6%
  background-color transparent
  width 30px
  height 30px
  color white

.group-create-button
  margin-top 10%
  background-color transparent
  width 90%
  font-weight bold
  color white
