.apply-page
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  background-color transparent
  height 100vh

  &-header
    flex 1
    flex-direction column
    display flex
    align-items center
    justify-content center

    &-title
      margin-top 25%
      text-align center
      color white
      font-size 35px
      font-weight bold


    &-input-container
      margin-top 10%
      background white
      width 40%
      text-align center
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19)
      border-radius 50px
      elevation 3

    &-input
      margin auto
      padding 10px
      font-size 35px
      font-weight bold
      background rgba(0, 0, 0, 0)
      text-align center

  &-body
    //padding-bottom 40%
    flex 3

.apply-form
  &-container
    margin-top 8%
    margin-left 5%
    margin-right 5%
    padding-top 4%
    padding-left 6%
    padding-right 6%
    padding-bottom 5%
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19)
    border-radius 20px
    elevation 3

  &-title
    font-size 40px
    font-weight bold
    font-family "Helvetica Neue"
    margin-bottom 2%

  &-radio
    color #BAA7F6
    font-family "Helvetica Neue"

.apply-button
  margin-top 5%
  background-color transparent
  width 90%
  font-weight bold
  color white

.apply-back
  position absolute
  left 5%
  top 6%
  background-color transparent
  width 30px
  height 30px
  color white

.modal-content
  text-align center



