.upload-page
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  background-color transparent
  height 100vh

  &-header
    flex-direction row
    flex 3
    align-items flex-end

  &-body
    padding-bottom 40%
    flex: 7

  &-input-swiper
    padding-top 10%
    height 100%
    width 100%

.upload-form
  &-brief
    padding-top 5%
    padding-left 5%
    font-size 60px
    font-weight 900
    line-height 36px

  &-title
    font-size 30px
    font-weight 200
    padding-top 5%
    padding-left 5%

.upload-page-input
  &-title
    font-size 35px
    font-weight 300
    padding-top 5%
    padding-left 5%

  &-input
    font-size 40px
    font-weight 600
    padding-top 2%
    padding-left 2%
    padding-right 5%

.upload-back
  position absolute
  left 5%
  top 6%
  background-color transparent
  width 30px
  height 30px
  color white

.upload-button
  position absolute
  right 8%
  bottom 10%
  background-color transparent
  width 30%
  color white
