.group-detail-page
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  background-color transparent
  height 100vh

  &-header
    flex 1
    flex-direction column
    display flex
    align-items center
    justify-content center

    &-title
      text-align center
      color white
      font-size 45px
      font-weight bold

  &-body
    //padding-bottom 40%
    flex 4
    height 80vh

.group-detail-form
  &-container
    margin-top 8%
    margin-left 5%
    margin-right 5%
    padding-top 4%
    padding-left 6%
    padding-right 6%
    padding-bottom 5%
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19)
    border-radius 20px
    elevation 3

  &-credit-title
    font-size 25px
    font-weight 350
    font-family "Helvetica Neue"
    margin-bottom 2%

  &-credit
    text-align center
    font-size xxx-large
    font-weight bold
    color #262E49
    font-family "Helvetica Neue"
    margin-bottom 2%

  &-user-title
    font-size 25px
    font-weight 350
    font-family "Helvetica Neue"
    margin-bottom 2%

  &-list
    max-height 45vh
    overflow auto

.group-detail-button
  margin-top 5%
  margin-bottom 2.5%
  background-color transparent
  width 90%
  font-weight bold
  color white

.group-detail-back
  position absolute
  left 5%
  top 6%
  background-color transparent
  width 30px
  height 30px
  color white



